---
BasedOnStyle: LLVM
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: AlwaysBreak